Repository CloneWith/osu, pull requests merged in 2025-03, with the labels that each got.

#67 Two-column display for showcase config screen
  osu.Game/Screens/TournamentShowcase/ShowcaseConfigScreen.cs
Labels: size:Small, target:OFFC, iteration:S2 SummerLight, area:Showcase

#63 Use tab control to separate showcase config sections
  osu.Game.Resources.Custom/Localisation/TournamentShowcase.zh.resx
  osu.Game/Localisation/TournamentShowcaseStrings.cs
  osu.Game/Models/ShowcaseStaff.cs
  osu.Game/Models/ShowcaseTeam.cs
  osu.Game/Screens/TournamentShowcase/DrawableShowcaseBeatmapItem.cs
  osu.Game/Screens/TournamentShowcase/PlayerRow.cs
  osu.Game/Screens/TournamentShowcase/ShowcaseAPIEssential.cs
  osu.Game/Screens/TournamentShowcase/ShowcaseBeatmapEditor.cs
  osu.Game/Screens/TournamentShowcase/ShowcaseConfig.cs
  osu.Game/Screens/TournamentShowcase/ShowcaseConfigScreen.cs
  osu.Game/Screens/TournamentShowcase/ShowcaseContainer.cs
  osu.Game/Screens/TournamentShowcase/ShowcaseStaffEditor.cs
  osu.Game/Screens/TournamentShowcase/ShowcaseState.cs
  osu.Game/Screens/TournamentShowcase/ShowcaseTeamEditor.cs
  osu.Game/Screens/TournamentShowcase/StaffRow.cs
Labels: size:Medium, target:OFFC, iteration:S2 SummerLight

#69 Add countdown screen to tournament client
  .gitignore
  .vscode/launch.json
  osu.Game.Resources.Custom/Localisation/Tournament/Base.zh.resx
  osu.Game.Resources.Custom/Localisation/Tournament/Screen.zh.resx
  osu.Game.Resources.Custom/Localisation/Tournament/Screens/Countdown.zh.resx
  osu.Game.Tournament/Components/CustomRoundedBox.cs
  osu.Game.Tournament/Components/DrawableRoundLine.cs
  osu.Game.Tournament/Components/DrawableTeamLine.cs
  osu.Game.Tournament/Components/DrawableTeamSeed.cs
  osu.Game.Tournament/Components/DrawableTeamTitle.cs
  osu.Game.Tournament/Components/MatchCountdown.cs
  osu.Game.Tournament/Localisation/BaseStrings.cs
  osu.Game.Tournament/Localisation/ScreenStrings.cs
  osu.Game.Tournament/Localisation/Screens/CountdownStrings.cs
  osu.Game.Tournament/Screens/Countdown/CountdownScreen.cs
  osu.Game.Tournament/Screens/TournamentScreen.cs
  osu.Game.Tournament/TournamentSceneManager.cs
  osu.Game/Utils/HumanizerUtils.cs
Labels: area:Components, area:Tournament, target:OFFC, iteration:S2 SummerLight

#71 Fix string display out of bound
  osu.Game.Tournament/Localisation/Screens/CountdownStrings.cs
Labels: bug, size:Small, target:OFFC, iteration:S2 SummerLight

#74 Refactor colour scheme class and add visual tests
  osu.Game.Tests/Visual/FumoUserInterface/TestSceneFumoColours.cs
  osu.Game/Graphics/UserInterfaceFumo/FumoColours.cs
Labels: area:Components, target:OFFC, area:Tests

#82 Fix showcase screen can't be launched due to empty set
  osu.Game/Screens/TournamentShowcase/ShowcaseConfigScreen.cs
Labels: bug, size:Small, iteration:S2 SummerLight, module:Showcase

#83 Add filename check and filtering for showcase config files
  osu.Game.Resources.Custom/Localisation/StringCheck.zh.resx
  osu.Game.Tournament/Components/DrawableMapCard.cs
  osu.Game.Tournament/Components/DrawableTeamTitle.cs
  osu.Game.Tournament/Components/TeamPlayerCard.cs
  osu.Game.Tournament/Screens/Board/Components/BoardBeatmapPanel.cs
  osu.Game.Tournament/Screens/Board/Components/ExtraBoardBeatmapPanel.cs
  osu.Game.Tournament/StringExtensions.cs
  osu.Game/Localisation/StringCheckStrings.cs
  osu.Game/Screens/TournamentShowcase/ShowcaseConfigScreen.cs
  osu.Game/Screens/TournamentShowcase/ShowcaseStorage.cs
  osu.Game/Utils/StringExtensions.cs
Labels: target:OFFC, module:Showcase, area:Data
