Repository CloneWith/osu, pull requests merged in 2025-04, with the labels that each got.

#80 Add strain graph skin component for beatmap showcase
  .gitignore
  .vscode/launch.json
  osu.Game.Resources.Custom/Localisation/HUD/FumoSongProgress.zh.resx
  osu.Game.Tests/Resources/Archives/modified-argon-20250326.osk
  osu.Game.Tests/Skins/SkinDeserialisationTest.cs
  osu.Game/Localisation/HUD/FumoSongProgressStrings.cs
  osu.Game/Screens/Play/HUD/FumoSongProgress.cs
  osu.Game/Screens/Play/HUD/FumoStrainGraph.cs
Labels: area:Components, target:OFFC, iteration:S2 SummerLight, module:Showcase

#72 Implement new structure for new board
  osu.Game.Tests/Visual/FumoInterface/TestSceneFumoSectionHeader.cs
  osu.Game.Tournament.Tests/NonVisual/SuccessiveChessTest.cs
  osu.Game.Tournament/Components/FumoMatchHeader.cs
  osu.Game.Tournament/Models/BeatmapChoice.cs
  osu.Game.Tournament/Models/ChessPlacement.cs
  osu.Game.Tournament/Models/ChessRecord.cs
  osu.Game.Tournament/Models/RoundBeatmap.cs
  osu.Game.Tournament/Models/TournamentMatch.cs
  osu.Game.Tournament/Screens/Board/BoardScreen.cs
  osu.Game.Tournament/Screens/Editors/RoundEditorScreen.cs
  osu.Game/Graphics/UserInterfaceFumo/ClickTwiceButton.cs
  osu.Game/Graphics/UserInterfaceFumo/FumoButton.cs
  osu.Game/Graphics/UserInterfaceFumo/FumoSectionHeader.cs
  osu.Game/Graphics/UserInterfaceFumo/StateSwitchButton.cs
Labels: module:Board, size:Medium, area:Components, area:Tournament, target:OFFC, iteration:S2 SummerLight, area:Tests, area:Data

#84 Change trigger conditions of CI
  .github/workflows/ci.yml
Labels: area:Tests

#90 change the animation of chat
  osu.Game.Tournament/Components/TournamentMatchChatDisplay.cs
  osu.Game.Tournament/Screens/Gameplay/GameplayScreen.cs
  osu.Game.Tournament/Screens/MapPool/MapPoolScreen.cs
  osu.Game.Tournament/TournamentSceneManager.cs
Labels: size:Small, area:Components

#91 Fix minor issues of `Fumo*` display elements
  osu.Game.Tournament.Tests/Components/TestSceneFumoTeamDisplay.cs
  osu.Game.Tournament/Components/FumoMatchHeader.cs
  osu.Game.Tournament/Components/FumoTeamDisplay.cs
Labels: bug, size:Small, area:Components, target:OFFC, iteration:S2 SummerLight

#92 Add new style of chess piece
  osu.Game.Tournament.Tests/Components/TestSceneFumoChessPiece.cs
  osu.Game.Tournament/Components/FumoChessPiece.cs
  osu.Game/Graphics/UserInterfaceFumo/FumoColours.cs
Labels: module:Board, size:Medium, area:Components, area:Tournament, target:OFFC, iteration:S2 SummerLight

#93 Adjust windows size indicator and warning text
  osu.Game.Resources.Custom/Localisation/Tournament/Base.zh.resx
  osu.Game.Tournament/Components/WindowSizeIndicator.cs
  osu.Game.Tournament/Localisation/BaseStrings.cs
  osu.Game.Tournament/TournamentGame.cs
Labels: size:Small, area:Components, area:Tournament, target:OFFC

#97 Refactor board instruction display
  osu.Game.Resources.Custom/Localisation/Tournament/Base.zh.resx
  osu.Game.Resources.Custom/Localisation/Tournament/Instructions.zh.resx
  osu.Game.Tournament.Tests/Components/TestSceneInstructionDisplay.cs
  osu.Game.Tournament/Localisation/BaseStrings.cs
  osu.Game.Tournament/Localisation/InstructionsStrings.cs
  osu.Game.Tournament/Models/InstructionInfo.cs
  osu.Game.Tournament/Screens/Board/Components/InstructionDisplay.cs
  osu.Game/Users/UserPanel.cs
Labels: module:Board, size:Medium, area:Components, area:Tournament, target:OFFC, iteration:S2 SummerLight

#99 Fix `FirstSelected`
  osu.Game.Tournament/Screens/Countdown/CountdownScreen.cs
  osu.Game.Tournament/Screens/TournamentScreen.cs
  osu.Game.Tournament/TournamentSceneManager.cs
Labels: bug, priority:0

#98 Refine visuals for picked / banned maps
  osu.Game.Resources.Custom/Localisation/Tournament/Base.zh.resx
  osu.Game.Resources.Custom/Localisation/Tournament/Instructions.zh.resx
  osu.Game.Tournament.Tests/Components/TestSceneFumoBeatmapPanel.cs
  osu.Game.Tournament.Tests/Components/TestSceneInstructionDisplay.cs
  osu.Game.Tournament/Components/Animations/TournamentIntro.cs
  osu.Game.Tournament/Components/DrawableMapCard.cs
  osu.Game.Tournament/Components/FumoBeatmapPanel.cs
  osu.Game.Tournament/Localisation/BaseStrings.cs
  osu.Game.Tournament/Localisation/InstructionsStrings.cs
  osu.Game.Tournament/Models/InstructionInfo.cs
  osu.Game.Tournament/Screens/Board/Components/BoardBeatmapPanel.cs
  osu.Game.Tournament/Screens/Board/Components/InstructionDisplay.cs
  osu.Game.Tournament/TournamentGame.cs
  osu.Game/Users/UserPanel.cs
Labels: size:Small, module:Mappool, area:Components, target:OFFC, iteration:S2 SummerLight

#96 Add new version of board beatmap panel
  osu.Game.Tournament.Tests/Components/TestSceneFumoBeatmapPanel.cs
  osu.Game.Tournament.Tests/NonVisual/SuccessiveChessTest.cs
  osu.Game.Tournament/Components/Animations/TournamentIntro.cs
  osu.Game.Tournament/Components/DrawableMapCard.cs
  osu.Game.Tournament/Components/FumoBeatmapPanel.cs
  osu.Game.Tournament/Components/MatchCountdown.cs
  osu.Game.Tournament/Models/ChessPlacement.cs
  osu.Game.Tournament/Models/InstructionInfo.cs
  osu.Game.Tournament/Screens/Board/BoardScreen.cs
  osu.Game.Tournament/Screens/Board/Components/BoardBeatmapPanel.cs
  osu.Game.Tournament/Screens/Countdown/CountdownScreen.cs
  osu.Game.Tournament/Screens/TournamentScreen.cs
  osu.Game.Tournament/TournamentGame.cs
  osu.Game.Tournament/TournamentSceneManager.cs
Labels: module:Board, size:Medium, area:Components, area:Tournament, target:OFFC, iteration:S2 SummerLight
